
<main class="main">
  <div class="inner">
    
    <div class="card__wrapper">


                <% if @prototype.length !=0 %>
                  <% @prototype.each do |prototype| %>
                    <%= render partial: 'prototypes/prototype', locals: { prototype: prototype } %>


                  <% end %>
                <% else %>
                  該当する商品はありません
                <% end %>


                <%= @prototype.length %>

    </div>
  </div>
</main>


