
<br>
<%= "管理人の一言"%>
<br>
<br>
<br>
<br>
1つ<br>

<br>
上司は間違っている→The boss is wrong<br>
上司はエラーです→Boss is an error<br>
エラーを起こす→Cause an error<br>
エラーがある→There is an error<br>
<br>
<br>

２つ<br>
ここでBOSSとは、、、<br>
ここでERRORとは、、、<br>
辞書をひいてみた。<br>
BOSSは、 ボス、親分、親方、社長、所長、主任(など)、ボス的存在の人、実力者、支配者、(政界などの)首領<br>
ERRORは、誤り、間違い、考え違い、思い違い、(道義的な)過失、罪、エラー、失策、錯誤、誤審らしい。<br>
今のところ１００通り、導き出せます。<br>

<br>
<br>
３つ<br>
昔、大学受験で数学の偏差値が７０超えたことがある。<br>
偏差値６５と偏差値７０超えの差は何か。<br>
ケアレスミスの差。<br>
たった少しのケアレスミス。<br>
ほんの少しの記述ミス。<br>
ちょっとした失言。<br>
ちょっとした時間配分ミス。<br>
ほんの少しの配慮ミス。<br>
<br>
<br>
</p>
